body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('blue.jpg');
    color:#f0f8ff
}
header {
    background-image: url('wave1.png');
    background-repeat: repeat ;
    background-position: top right;
}
.mylist {
    list-style-image: url(dot.png);
}
.other {
    background-image: url(blue.jpg);
    background-repeat: repeat;
    background-color: rgb(3, 3, 124);
}