body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 300px;
}
nav a {
    display: inline-block;
    padding: 40px;
    background-color: aqua;
    border-bottom: thin solid white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
]
.temple {
    border: thin solid black;
    width: 300px;
}
.floater {
    float: left;
}
.hammer {
    position: 0;
    top: 0px;
    margin: 0;
    z-index: 0;
   display: 0%;
}
.temple img {
    width: 100%;
}
