body {
    font-family: Arial, Helvetica, sans-serif;
    background: hsl(219, 43%, 91%);
    margin: 0;
    padding: 0;
}
.form {
    width: 90%;
    max-width: 700%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    margin: 30px auto;
}
nav{
    display: flex;
    
}
nav a{
    display: flex;
    text-align: center;
    padding: 15px;
    color: rgb(4, 66, 153);
    margin: auto;
    font-weight: bold;
}
.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0 15px 0;
}
.form-row label {
    width: 150px;
    text-align: right;
}
.form-row input {
    padding: 8px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}
.check-row label{
    display: inline-block;
}
.spacer {
    width: 150px;
    text-align: right;
}
.font-row input:not([type="submit"]) {
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(46, 37, 141)
}
fieldset {
    background-color: rgb(209, 120, 10);
    width: 70%;
    margin: auto;
}
legend {
    background-color: rgb(210, 35, 8);
    color: aliceblue;
    padding: 20px;
}
header, footer {
    background: rgb(207, 49, 34);
    color: white;
    text-align: center;
    padding: 20px 0;
    
}
@media ONLY screen AND (max-width: 480px) {
    .form-row, .check-row{
        flex-direction: column;
    }
    .form-row label, .spacer {
        text-align: left;
    }
}
