body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: black;
}
header {
    background-color: bisque;
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
header {
    background-color: rgb(23, 23, 217);
    color: white;
}
.cards{
    border: thin solid rgb(2, 22, 0);;
    
}
.cards h3 {
    margin: 0%;
}
main h2 {
    margin: 0%;
}
header h1 {
    margin: 0%;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(100, 100, 231);
}
nav a {
    display:block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(100, 100, 231);
    color: white;
}
nav a:hover{
    background-color: white;
    color: rgb(100, 100, 231);
}
.cards {
    display: flex;
    width: 100%;
    background-color: antiquewhite;
}
.card {
    border: thin solid rgb(2, 22, 0);
    box-shadow: 3px 3px 5px rgba(21, 200, 45, 0.6);
    width: 300px;
    margin: 5px;
    display: inline-block;
}
.card img {
    width: 100%;
}