body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: rgb(231, 170, 47);
    color: aliceblue;
    text-align: center;
    padding: 6px;
}
nav {
    padding: 10px 0;
    background-color: rgb(82, 197, 62);
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(243, 214, 127);
}
nav li{
    margin: 0 10px;
}
nav a {
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin: auto;
    padding: 5px 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}
aside {
    width: 23%;
    padding: 10px;
    background-color: rgb(141, 94, 94);
}
aside img {
    width: 100%;
    
}
main {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
article {
    width: 23%;
    background-color: rgb(226, 196, 99);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}
article img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}


@media print {
    nav, footer {
        display: none;
    }
}
@media (max-width: 700px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    article {
        width: 80%;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}