body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(212, 107, 107);
}
header {
    padding: 10px 0;
    
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    margin: auto;
}

table {
    width: 80%;
    margin: 20px auto;
}
td {
    border: 1px solid black;
    padding: 12px;
}
caption {
    caption-side: top;
    margin-bottom: 15px;
    font-weight: bold;
}

.form {
   display: flex;
   gap: 8px;
   margin: 15px 0 15px 0;
}
.form label{
    width: 150px;
    text-align: right;
}
.form input{
    padding: 7px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}
fieldset{
    background-color: rgb(167, 202, 202);
    width: 80%;
    margin: auto;
}
legend{
    background-color: rgb(7, 166, 234);
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}

@media ONLY screen AND (max-width: 600px) {
    nav a {
        flex-direction: column;
    }
}