body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(212, 107, 107);
}
header {
    padding: 10px 0;
    
}

table {
    width: 80%;
    margin: 20px auto;
}
td {
    border: 1px solid black;
    padding: 12px;
}
caption {
    caption-side: top;
    margin-bottom: 15px;
    font-weight: bold;
}

