body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: white;
    
}
header {
    padding: 10px 0;

}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(17, 17, 17);
    padding: 15px 0;
}
nav a {
    color: rgb(255, 204, 0);
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    margin: auto;
    text-decoration: none;
}

#home {
    background: rgb(102, 96, 96);
    border-radius: 10px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 20px;
}
#profile {
    width: 70%;
    max-width: 700px;
    margin: 20px auto;
    border: 3px solid rgb(246, 246, 6);
    box-shadow: 0 4px 20px;
}

.pic {
    width: 70%;
    max-width: 700px;
    margin: 20px auto;
    border: 3px solid rgb(246, 246, 6);
    box-shadow: 0 4px 20px;
}



.gun {
    width: 60%;
    max-width: 500px;
    height: 200px;
    margin: 20px auto;
    border-radius: 15px;
    border: 3px solid rgb(246, 246, 6);
    box-shadow: 0 4px 20px;
}


.video {
    width: 80%;
    max-width: 600px;
    height: 300px;
    margin: 20px auto;
    border: 3px solid rgb(246, 246, 6);
    box-shadow: 0 4px 20px;
}
#youtube{
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    height: 300px;
    margin: 25px auto;
    border: 3px solid rgb(246, 246, 6);
    box-shadow: 0 4px 20px;
}



table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
td {
    border: 3px solid black;
    padding: 12px;
}
caption {
    caption-side: top;
    margin-bottom: 15px;
    font-weight: bold;
}
.n1 {
    background-color: #c9b609;
}


.form {
   display: flex;
   gap: 8px;
   margin: 15px 0 15px 0;
}
.form label{
    width: 150px;
    text-align: right;
}
.form input{
    padding: 7px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}
fieldset{
    background-color: rgb(167, 202, 202);
    width: 80%;
    margin: auto;
}
legend{
    background-color: rgb(7, 166, 234);
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}

@media ONLY screen AND (max-width: 600px) {
    .form {
        flex-direction: column;
    }
    .form label {
        text-align: left;
    }
    .video {
        height: 220px;
    }
}