body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(91, 220, 177);
}
.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0 15px 0;
}
.form-row label {
    width: 150px;
    text-align: right;
}
.form-row input {
    padding: 8px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}
.spacer {
    width: 150px;
    text-align: right;
}
.font-row input:not([type="submit"]) {
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(46, 37, 141)
}
fieldset {
    background-color: rgb(229, 159, 74);
    width: 80%;
    margin: auto;
}
legend {
    background-color: blue;
    color: aliceblue;
    padding: 20px;
}
@media ONLY screen AND (max-width: 480px) {
    .form-row, .check-row{
        flex-direction: column;
    }
    .form-row label, .spacer {
        text-align: left;
    }
}